 
<div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="cord-body">            
              <form action="/imagens/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                     <input type="text" name="title"
                     class="form-control" placeholder="titulo image">
                </div>
                <div class="form-group">
                     <input type="text" name="description"
                     class="form-control" placeholder="Descrição Image">
                </div>
                <div class="form-group">
                  <div class="custon-file">
                     <input type="file" name="image" 
                     class="cunstom-file-imput" id="imputgrupFile01">
                     <label for="imputgrupFile01" 
                     class="custon-file-label">Carrega imagen</label>
                  </div>
                </div>
                <button class="btn btn-primary">Carregar imagen</button>
             </form>
             </div>
        </div>
     </div> 
  </div>

    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>titulo</th>
            <th>descrição</th>
            <th>Operação</th>
          </tr>
        </thead>      
        <tbody>
        {{#each fotos}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
              <a href="{{imageURL}}" target="_blank" 
              class="btn btn-primary">View</a>
              <a href="" class="btn btn-danger">Delete</a>
            </td>   
         </tr>  
         {{/each}}       
        </tbody>
      </table>
    </div>
</div>